<!-- templates/registration/password_reset_done.html -->
{%extends 'registration/base.html'%}
{% load static %}

{% block content %}
<div class = "centered-box">
	<div class = "header">
		<img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px; height: 58px; margin: 10px">
	</div>
	<p>Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.</p>
	<p>Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.</p>
</div>
{% endblock %}