<!-- templates/registration/password_reset_form.html -->
{%extends 'registration/base.html'%}
{% load static %}

{% block content %}
<div class = "centered-box">
	<div class = "header">
		<img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px; height: 58px; margin: 10px">
	</div>
	<form method="POST">
		{% csrf_token %}
		{{ form.errors.email }}
		<p>Esqueceu sua senha? Digite seu email e lhe enviaremos instruções.</p>
		<label for="{{ form.email.id_for_label }}"></label> <input type="text" class = "text-box" name="{{ form.email.html_name }}" placeholder="email@exemplo.com" autofocus maxlength="254" required id="{{ form.email.id_for_label }}" />
		<button class = "button" type="submit">Me envie instruções!</button>
		</div>
	</form>
</div>
{% endblock %}