<!-- templates/registration/password_reset_confirm.html -->
{%extends 'registration/base.html'%}
{% load static %}

{% block content %}
<div class = "centered-box">
	<div class = "header">
		<img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px; height: 58px; margin: 10px">
	</div>
	<form method = "post">
		{% csrf_token%}
		{%if validlink%}
			<div class = "info-box">
				<p>Sua nova senha deve:</p>
				<ul>
					<li>Ser diferente das suas outras informações pessoais.</li>
					<li>Ter ao menos 8 caracteres.</li>
					<li>Não deve ser inteiramente numérica</li>
				</ul>
			</div>
			{{form.errors.new_password1}}
			{{form.errors.new_password2}}
			<label for="{{ form.new_password1.id_for_label }}"></label> <input type="password" class = "text-box" name="{{ form.new_password1.html_name }}" placeholder="Senha" autofocus maxlength="254" required id="{{ form.new_password1.id_for_label }}" />
			<label for="{{ form.new_password2.id_for_label }}"></label> <input type="password" class = "text-box" name="{{ form.new_password2.html_name }}" placeholder="Confirme sua senha" autofocus maxlength="254" required id="{{ form.new_password1.id_for_label }}" />
			<button class = "button" type="submit">Alterar senha</button>
		{%else%}
			<p>O link para alteração de senha é inválido, possivelmente porque já foi usado. Por favor solicite uma nova alteração de senha.</p>
		{%endif%}
	</form>
</div>
{% endblock %}