body{
	/*Deixa o body do tamanho da janela do navegador*/
	height: 100vh;
	width: 100vh;

	font-family: Arial;
    background: #f3eae0;
}

/*Container para o layout de login*/
.centered-box{
	height: 40%;
	width: 20%;
	/*Posiciona o container no centro da tela*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*Tamanho mínimo*/
	min-width: 200px;
	min-height: 278px;
	border: 3px solid black;
}

/*Customiza a mensagem de erro*/
.errorlist.nonfield{

}

.field {
	padding-top: 10px;
}

/* Header */
.header {
	width: 100%;
    text-align: center;
    background: #3F51B5;
    color: #FFFFFF;
}

h2 {
	color : #000000;
	text-align : center;
}

form {
	height: 180px;
	width: 100%;
    color: black;
    background: white;
    text-align: center;
}

/*Rodapé*/
.foot {
	width: 100%;
	text-align: center;
    color: #FFFFFF;
	background: #3F51B5;
}

/*Botão login*/
.button{
    width: 200px;
}

/*Truque para centralizar o botão no formulário*/
.button_holder{
	padding-top: 10px;
	text-align: center;
}