body{
	/*Deixa o body do tamanho da janela do navegador*/
	height: 100vh;
	width: 100vh;

	font-family: Arial;
    background: #FFE0B2;
}

/*Container para o layout de login*/
.centered-box{
	/*Posiciona o container no centro da tela*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*Tamanho*/
	width: 220px;
	/*Bordas*/
	border-radius: 5px;
	border: 1px solid #BDBDBD;
	box-shadow: 5px 5px #BDBDBD;
	/*Cor de fundo*/
	background: white;
	/*Centraliza o conteúdo*/
	text-align: center;
}

/*Customiza a mensagem de erro*/
.errorlist.nonfield{

}

.field {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Header */
.header {
	width: 100%;
    text-align: center;
}

form {
	margin:10px;
	width: 200px;
    color: black;
    text-align: center;
}

/*Rodapé*/
.foot {
	margin: 10px;
	text-align: center;
    color: black;
}

/*Botão login*/
.button{
    width: 200px;
}

/*Truque para centralizar o botão no formulário*/
.button_holder{
	padding-top: 10px;
	text-align: center;
}